.divConteiner {
    height: 100vh;
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/509/332/63/video-game-nioh-red-samurai-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.button:hover {
    background-color: #43d;
    color: white;
}

.colorLetter {
    color: #fff;
}
